<body>
      <form ngForm class="form" (submit)="onSubmit();" >
        <div class="wrapper">
            <div class="login">
            <div class="login-form">      
                <h1 class="login-title">Se connecter</h1>
                <div class="form-wrapper">
                <div class="input-wrapper">
                    <label class="label" for="login">Nom d'utilisateur</label>
                    <input class="input" type="text" [(ngModel)]="username" name="login" required autocomplete="off"/>
                </div><br>

                <div class="input-wrapper">
                    <label class="label" for="password">Mot de passe</label>
                    <input class="input" type="password" [(ngModel)]="password" name="password" required/>
                </div>
                <div class="actions">
                    <button class="action"  value="Se connecter" >Se connecter</button>
                    <div class="signup-action">Vous n'avez pas de compte ? <a class="signup-link" href="#"> Inscrivez vous ! Nous sommes en version limité.</a></div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </form>
</body>