.container {
  display: flex;
  flex-direction: column;
}

.assignementResult{
  width : 50%
}

.assignementNote{
  text-align: right;
}

.cardDetails{
  width: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

